<div class="row background-logo">
  <div class="col-content">
    <div class="slogan">Runa Checker</div>
    <h1>
      Login or create a new account to register your daily check-in and 
      check-out at the office. You will also be able to watch your assistance 
      report. 
    </h1>
    <h2>
      If you don't register your check-out ater your daily check-in, 
      the day will not count for you and it will be registered as a not
      worked day.
    </h2>
    <h3>
      If you are an admin, you will be able to see all the workers reports and 
      add new collaborators. 
    </h3>
  </div>
  <div class="col-image">
    <%= image_tag("people.png", alt: "People", class: "page-image") %>
  </div>
</div>
