.left-align {
  padding: 0; 
  vertical-align: top;
  text-align: left
}
.container{
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0;
  vertical-align: top;
  background: #fefefe;
  width: 580px;
  margin: 0 auto;
  text-align: inherit;
  max-width: 580px;
}
.center{
  word-wrap: break-word;
  vertical-align: top;
  color: #0a0a0a;
  font-family: 'Cereal',Helvetica,Arial,sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  border-collapse: collapse!important;
}
.row{
  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: top;
  text-align: left;
  padding: 0;
  width: 100%;
  display: table;
}
.th-text{
  color: #0a0a0a;
  font-family: 'Cereal',Helvetica,Arial,sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
  padding-left: 16px;
  padding-right: 16px;
}
.padding-bottom-16{
  padding-bottom: 16px;
}
  
.width-564{
  width: 564px; 
}
a.btn{
  font-family: 'Cereal',Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 12px 24px;
  font-weight: normal;
  text-align: left;
  line-height: 1.3;
  color: white;
  text-decoration: none;
  background-color: #2CC965;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}
p.context {
  font-family: "Cereal", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #484848;
  font-size: 18px;
  line-height: 1.4;
  margin: 0 0 0px;
  padding: 0;
}
ul.context, ol.context {
  font-family: "Cereal", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #806c6c;
  font-size: 18px;
  line-height: 1.4;
}
p.text-center{
  font-weight: normal;
  font-family: "Cereal", "Helvetica", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0px;
  padding: 0;
  text-align: center;
}
.inline-email-image {
  width: 50%;
  margin: 0 25%;
  padding-bottom: 10px;
}
a.footer-logo {
  padding-right: 10px;
  color: white
}
.row-1{
  border-spacing: 0;
  margin: 0 0 0px;
  padding: 0;
  border-collapse: collapse;
  vertical-align: top;
  height: 100%;
  width: 100%;
  color: #0a0a0a;
  font-family: 'Cereal',Helvetica,Arial,sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
}