<%= stylesheet_link_tag 'custom.css' %> 
<table class="row-1">
  <tbody><tr class="left-align">
    <td class="center" align="center" valign="top" >
      <center style="width:100%; min-width:580px">
        <%= render :partial => "shared/mail_header"%>
        <table class="container">
            <tbody><tr class="left-align">
              <td class="center">
                <div>
                  <table class="row">
                    <tbody><tr class="left-align">
                      <th class="th-text padding-bottom-16 width-564">
                        <p class="context">
                          <p>Hi <%= @resource.full_name %>!</p> 
                        </p>
                      </th>
                    </tr></tbody>
                  </table>
                </div>
                <br/>
                <div>
                  <table class="row">
                    <tbody><tr class="left-align">
                      <th class="th-text padding-bottom-16 width-564">
                        <p class="context">
                          We received a request to change your password.
                        </p>
                      </th>
                    </tr></tbody>
                  </table>
                </div>
                <div>
                  <table class="row">
                    <tbody><tr class="left-align">
                      <th class="th-text padding-bottom-16 width-564">
                        <p class="context">
                          If you didn't requested this, just ignore the email. 
                          Otherwise, if you requested, then clic the
                          next link to update your password:
                        </p>
                      </th>
                    </tr></tbody>
                  </table>
                </div>
                <br/>
                <div>
                  <table class="row">
                    <tbody><tr class="left-align">
                      <th class="th-text">
                        <%= link_to 'Update my password', 
                            edit_password_url(@resource, reset_password_token: @token),
                            class: "btn" %>
                      </th>
                    </tr></tbody>
                  </table>
                </div>
                <div style="padding-top:24px">
                  <table class="row">
                    <tbody><tr class="left-align">
                      <th class="th-text padding-bottom-16 width-564">
                        <p class="context">Runa</p>
                      </th>
                    </tr></tbody>
                  </table>
                </div>
              </td>
            </tr></tbody>
        </table>
      </center>
    </td>
  </tr></tbody>
</table>
