<footer>
  <div class="content container">
    <div class="row">
      <div class="col-full">
        <div class="col-half">
          <div class="col-full">
            <a href="http://www.darcennia.com" target="_blank">Darcennia</a>
          </div>
          <div class="col-full">
            <a href="http://www.mibodamexico.com.mx" target="_blank">
              Mi Boda México
            </a>
          </div>
        </div>
        <div class="col-half">
          <%= image_tag("logo_white.png", alt: "Tabella", class: "navbar-brand") %>
        </div>
      </div>
      <div class="col-full social">
        <a href="https://www.youtube.com/" target="_blank">
          <i class="fa fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com/" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/in/davidmontante/" target="_blank">
          <i class="fa fa-linkedin-square"></i>
        </a>
      </div>
      <div class="col-full company-name">
        &#9400; 2019 David Montante
      </div>
    </div>
  </div>
</footer>
